:root {
  --sidebar-color-text: #ffffff8a;
  --sidebar-color: #29334e;
  --info-color: #3d294e88;
  --body-color: #29334eac;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html,
body {
  background-color: var(--body-color);
  font-family: 'Roboto';
}
/* 
#map {
  width: 100vw;
  margin: 2em;
} */

/* gmp-map-3d {
  height: 50vh;
  width: 100%;
  background: #333333;
  border-radius: .25em;
} */

/* .vAygCK-api-load-alpha-banner {
  visibility: hidden;
} */

/* #sidebar {
  width: 16em;
  min-width: 16em;
  background-color: var(--sidebar-color);
  height: 100vh;
} */



.brand {
  color: var(--sidebar-color-text);
  font-size: 1.5em;
  font-weight: bold;
} */


hr {
  height: .1em;
  border: 1px solid white;
  margin: 1em;
}

#info {
  background-color: var(--sidebar-color);
  height: 100%;
  border-radius: .2em;
}

#info .address{
  font-weight: normal;
} 

/* #info img {
  height: 10em;
  width: 10em;
  object-fit: cover;
  margin: 1em;
  border-radius: .25em;
}

#info .text {
  color: var(--sidebar-color-text);
  font-weight: bold;
}

#description {
  color:var(--sidebar-color-text);
  font-weight: bold;
  margin-left: 1em;
} */

/* 
#description .title{
  color:var(--sidebar-color-text);
  font-weight: bold;
  font-size: 1.5em;
}

#bio  {
  border-left: 1px rgba(255, 255, 255, 0.191) solid;
  color: var(--sidebar-color-text);
}


#bio a{
  color: var(--sidebar-color-text);
} */


